{% extends 'base.html' %}
{% block content %}

<h1>User Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ user.name }}</span>
        <p>user role: {{ user.role }}</p>
        <p>e-mail: {{ user.email }}</p>
        <p>logo: {{ user.logo }}</p>
        <p>website: {{ user.website }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'users_update' user.id %}">Edit</a>
        <a href="{% url 'users_delete' user.id %}">Delete</a>
      </div>
    </div>
    {% for photo in user.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' user.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>  
  </div>      
  <div class="col s6">
      <form action="{% url 'add_phone' user.id %}" method="post">
        {% csrf_token %}
        {{ phone_form.as_p }}
        <input type="submit" class="btn" value="Add Phone">
      </form>
      <br>
      <table class="striped">
        <thead>
          <tr><th>Number</th></tr>
        </thead>
        <tbody>
          {% for phone in phones %}
            <tr>
              <td>{{phone.number}}</td>
              <td>
              <form action="{% url 'remove_phone' user.id phone.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn-flat" value="Remove Phone Number">
              </form>
            </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ user.name }}'s Meals</h3>
    {% if user.meals.count %}
      {% for meal in user.meals.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span>{{ meal.description }}</span> {{ meal.available_on }}
            </span>
          </div>
        </div>
        <div class="card-action">
          <form action="{% url 'deassoc_meal' user.id meal.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Delete</button>
          </form>
        </div>      
      {% endfor %}
    {% else %}
      <h5>No Meals :(</h5>
    {% endif %}
  </div>
  <!-- Available meals will come after this line -->
  <div class="col s6">
    <h3>Available Meals</h3>
    {% if meals.count %}
      {% for meal in meals.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ meal.description }}</span> <br>
              <span>Available on: {{ meal.available_on }}</span>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_meal' user.id meal.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{user.name}} Already Has All Meals Available</h5>
    {% endif %}
  </div>
</div>

{% endblock %}